<!-- PREVIOUS BUTTON -->
<div class="footer-container-small display">
    <i id="previous" (click)="previous()" class="material-icons cursor-pointer">
        skip_previous
    </i>
</div>

<!-- PLAY/PAUSE BUTTON -->
<div class="footer-container-medium">
    <i id="playPause" (click)="playPause()"
       class="material-icons player-button-medium-inner cursor-pointer">
       <span *ngIf="audioPaused">play_circle_filled</span>
       <span *ngIf="!audioPaused">pause_circle_filled</span>
    </i>
</div>

<!-- NEXT BUTTON -->
<div class="footer-container-small display">
    <i id="next" (click)="next()" class="material-icons cursor-pointer">
        skip_next
    </i>
</div>

<!-- PLAYING TRACK -->
<div class="playing-track">
    <div *ngIf="playingTrack">
        <div class="playing-track-cover"><img *ngIf="playingTrack.image" src="{{playingTrack.image.url + '/128.' + playingTrack.image.format }}"></div>
        <div class="playing-track-name">
            <a *ngIf="playingTrackAlbumId" routerLink="/playlist/{{playingTrackAlbumId}}" routerLinkActive="active">
                {{playingTrack.name}}
            </a>

            <a *ngIf="!playingTrackAlbumId">
                {{playingTrack.name}}
            </a>
        </div>

        <div class="playing-track-artist">
            <!-- TODO: show more artists, not only the first (if there are) -->
            <a routerLink="/user/{{playingTrack.owner.id}}" routerLinkActive="active">
                {{playingTrack.owner.name}}
            </a>
        </div>

    </div>
</div>

<!-- FAVORITE BUTTON -->
<div id="favorite" class="footer-container-small">
    <i (click)="favorite()" class="material-icons cursor-pointer">{{favoriteIcon}}</i>
</div>

<!-- REPOST BUTTON -->
<div id="repost" class="footer-container-small">
    <i (click)="repost()" class="material-icons cursor-pointer">loop</i>
</div>

<!-- ADD TO PLAYLIST BUTTON -->
<div id="addToPlaylist" class="footer-container-small">
    <div class="tooltip">

        <i (click)="addToPlaylist()" class="material-icons cursor-pointer">playlist_add</i>

        <div id="tooltipPlaylist" class="scrollbar">
            <ul class="collection">
                <li class="collection-item">Dubstep</li>
                <li class="collection-item collection-item-active">Trap</li>
                <li class="collection-item">Best Future House</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
                <li class="collection-item">Rap/Hip-Hop/RnB</li>
            </ul>
            <div class="collection">
                <div class="collection-item">NEW PLAYLIST</div>
            </div>
        </div>
    </div>
</div>

<!-- DOWNLOAD BUTTON -->
<div id="download" class="footer-container-small">
    <i class="material-icons cursor-pointer">file_download</i>
</div>

<!-- SHARE BUTTON -->
<div id="share" class="footer-container-small">
    <i class="material-icons cursor-pointer">share</i>
</div>

<!-- CURRENT TIME -->
<div id="currentTime" class="footer-container-medium">
    <div class="time">{{toHHMMSS(currentTime)}}</div>
</div>

<!-- TIMELINE -->
<div class="footer-container-timeline">
    <div id="timeline" class="tooltip" (click)="timelineClick($event)" (mousemove)="timelineMouseMove($event)">
        <div id="timeline-played" [ngStyle]="{'width': percentage * 100 + '%'}"></div>
        <span id="tooltipTime">{{toHHMMSS(tooltipTime)}}</span>
    </div>
</div>

<!-- DURATION TIME -->
<div id="duration" class="footer-container-medium">
    <div class="time">{{toHHMMSS(duration)}}</div>
</div>

<!-- REPEAT BUTTON -->
<div id="repeat" class="footer-container-small">
    <i class="material-icons cursor-pointer"
    [class.button-active]="repeatState !== 'off'"
    (click)="repeat()">
        <span *ngIf="repeatState !== 'one'">repeat</span>
        <span *ngIf="repeatState === 'one'">repeat_one</span>
    </i>
</div>

<!-- SHUFFLE BUTTON -->
<div id="shuffle" class="footer-container-small">
    <i (click)="shuffle()" class="material-icons cursor-pointer">shuffle</i>
</div>

<!-- VOLUME BUTTON -->
<div id="volume" class="footer-container-small">
    <div class="tooltip">
        <i (click)="volume()" class="material-icons cursor-pointer">volume_up</i>
        <div id="tooltipVolume">
            <div id="volume-level-container" (click)="volumeClick($event)">
                <div id="volume-level"></div>
            </div>
        </div>
    </div>
</div>
