.footer-container-small {
    float: left;
    color: white;
    width: 40px;
    height: 60px;
    padding-top: 17.5px;
    padding-left: 9px;
    color: #cccccc;
    /*background: green;*/
}

.footer-container-small:hover {
    color: #eeeeee;
}

.footer-container-medium {
    float: left;
    width: 60px;
    height: 60px;
    color: #cccccc;
    /*background: blue;*/
}

.footer-container-medium:hover {
    color: #eeeeee;
}

.footer-container-timeline {
    float: left;
    width: calc(100% - 846px);
    width: -moz-calc(100% - 846px);
    width: -webkit-calc(100% - 846px);
    height: 60px;
    /*background: blue;*/
}

.player-button-medium-inner {
    font-size: 55px;
    padding: 3px;
}

.button-active {
    color: #2e8eff;
}

.button-active:hover {
    color: #2ebaff;
}

.cursor-pointer {
    cursor: pointer;
}

#timeline {
    float: left;
    cursor: pointer;
	width: 100%;
	height: 10px;
	background: #333;
	margin-top: 25px;
	border-radius: 15px;
}

#timeline-played {
    position: absolute;
    cursor: pointer;
    width: 0;
    height: 10px;
    background: #333;
    border-radius: 15px;
    background: #2e8eff;
}

.time {
    padding-top: 20px;
    padding-left: 15px;
    font-size: 15px;
    color : #ccc;
}

.tooltip {
    position: relative;
}

.tooltip::before {
    display: none;
}

#tooltipTime {
    visibility: hidden;
    color: #2e8eff;
    text-align: center;
    /*border-radius: 6px;*/
    /*padding: 8px 10px;*/
    font-size: 10px;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    opacity: 0;
    transition: opacity 0.5s;
    width: 50px;
    height: 10px;
    padding: 0;
    margin-bottom: 13px;
    background: transparent;
    border: none;
}

.tooltip:hover #tooltipTime {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover #tooltipTime:hover {
    display: none;
}

#tooltipPlaylist {
    visibility: hidden;
    opacity: 0;
    color: #ccc;
    background: rgba(20, 20, 20, 0.9);
    border-radius: 6px;
    font-size: 16px;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    min-width: 250px;
    max-height: 600px;
    bottom: 120%;
    /*left: 50%;*/
    margin-left: -110px;
    transition: opacity 0.5s;
}

#tooltipVolume {
    visibility: hidden;
    opacity: 0;
    color: #ccc;
    background: rgba(20, 20, 20, 0.7);
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 150px;
    bottom: 120%;
    transition: opacity 0.5s;
}

#volume-level-container {
    position: absolute;
    cursor: pointer;
	width: 15px;
	height: 140px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
	background: #333;
	border-radius: 6px;
}

#volume-level {
    position: absolute;
    cursor: pointer;
	width: 100%;
	height: 100%;
    bottom: 0;
	background: #2e8eff;
	border-radius: 6px;
}

/***** PLAYLIST ADD ***********************************************************/

.collection {
    border: none;
}

.collection-item {
    background: transparent;
    border: none;
}

.collection-item:hover {
    background: rgba(46, 142, 255, 0.5);
}

.collection-item-active {
    background: rgba(46, 142, 255, 0.6);
}

.collection-item-active:hover {
    background: rgba(46, 142, 255, 0.7);
}

/***** SCROLLBAR **************************************************************/

.scrollbar { }

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(75, 75, 75, 0.2);
}

/***** PLAYING TRACK **********************************************************/

.playing-track {
    float: left;
    color: white;
    width: 250px;
    height: 60px;
    border-right: 1.5px solid #151515;
    border-left: 1.5px solid #151515;
    margin-right: 8px;
    margin-left: 8px;
}

.playing-track-cover img {
    float: left;
    height: 45px;
    width: 45px;
    margin-left: 15px;
    margin-top: 7px;
    border-radius: 50%;
}

.playing-track-name {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    width: calc(100% - 75px);
    width: -webkit-calc(100% - 75px);
    width: -moz-calc(100% - 75px);
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.playing-track-artist {
    float: left;
    margin-left: 15px;
    width: calc(100% - 75px);
    width: -webkit-calc(100% - 75px);
    width: -moz-calc(100% - 75px);
    padding: 0;
    font-size: 14px;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.playing-track-name a {
    color: inherit;
}

.playing-track-name a:hover {
    text-decoration: underline;
}

.playing-track-artist a {
    color: #777;
}

.playing-track-artist a:hover {
    text-decoration: underline;
}

/******************************************************************************/

.display {
    display: block;
}

@media only screen and (max-width: 1100px) {
    #download {
        display: none;
    }

    #share {
        display: none;
    }

    .footer-container-timeline {
        width: calc(100% - 846px);
        width: -moz-calc(100% - 766px);
        width: -webkit-calc(100% - 766px);
    }
}

@media only screen and (max-width: 1000px) {
    #volume {
        display: none;
    }

    #addToPlaylist {
        display: none;
    }

    .footer-container-timeline {
        width: calc(100% - 686px);
        width: -moz-calc(100% - 686px);
        width: -webkit-calc(100% - 686px);
    }
}

@media only screen and (max-width: 900px) {
    #shuffle {
        display: none;
    }

    #repeat {
        display: none;
    }

    .footer-container-timeline {
        width: calc(100% - 606px);
        width: -moz-calc(100% - 606px);
        width: -webkit-calc(100% - 606px);
    }
}

@media only screen and (max-width: 800px) {
    #currentTime {
        display: none;
    }

    #duration {
        display: none;
    }

    .footer-container-timeline {
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100% - 506px);
        width: -moz-calc(100% - 506px);
        width: -webkit-calc(100% - 506px);
    }
}

@media only screen and (max-width: 800px) {
    #currentTime {
        display: none;
    }

    #duration {
        display: none;
    }

    .footer-container-timeline {
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100% - 486px);
        width: -moz-calc(100% - 486px);
        width: -webkit-calc(100% - 486px);
    }
}

@media only screen and (max-width: 700px) {
    #repost {
        display: none;
    }

    .footer-container-timeline {
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100% - 446px);
        width: -moz-calc(100% - 446px);
        width: -webkit-calc(100% - 446px);
    }
}

@media only screen and (max-width: 600px) {
    .footer-container-timeline {
        display: none;
    }
}

@media only screen and (max-width: 550px) {

    .playing-track {
        width: calc(100% - 196px);
        width: -webkit-calc(100% - 196px);
        width: -moz-calc(100% - 196px);
    }
}

@media only screen and (max-width: 500px) {

    .display {
        display: none;
    }

    .playing-track {
        width: calc(100% - 100px);
        width: -webkit-calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        border: none;
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 400px) {

    #favorite {
        display: none;
    }

    .playing-track {
        width: calc(100% - 60px);
        width: -webkit-calc(100% - 60px);
        width: -moz-calc(100% - 60px);
    }
}
