.divider {
    float: left;
    width: calc(100% - 5px);
    width: -moz-calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    height: 35px;
    margin: 2.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: inherit;
}

.divider .title {
    color: #2e8eff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 3px;
}
