<div class="divider"><div class="title">PLAYLISTS</div></div>
<box *ngFor="let playlist of playlists" [object]="playlist"></box>

<div class="divider"><div class="title">TRACKS</div></div>
<box *ngFor="let track of tracks" [object]="track"></box>

<div class="divider"><div class="title">USERS</div></div>
<box *ngFor="let user of users" [object]="user"></box>
