.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

/******************************************************************************/
/* Scrollbar */

.scrollbar {}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /*background: black;*/
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(75, 75, 75, 0.5);
}

/******************************************************************************/
/* For Materialize toasts */

.red-bg {
    background: rgb(247, 79, 79);
}

.blue-bg {
    background: rgb(46, 142, 255);
}

#toast-container {
    bottom: auto !important;
    left: auto !important;
    top: 20px;
    right: 30px;
}

/******************************************************************************/
