<div *ngFor="let track of playQueue">
    <div [class.playing]="checkPlayingTrack(track)"
        class="track-in-queue"
        id="track.id"
        (click)="playThisTrack(track)">
        <div class="track-in-queue-cover" *ngIf="track.image">
            <img src="{{track.image.url + '/128.' + track.image.format }}">
        </div>
        <div class="track-in-queue-name">{{track.name}}</div>
        <div class="track-in-queue-artist">{{track.owner.name}}</div>
        <div class="track-in-queue-options"><i class="material-icons">more_vert</i></div>
    </div>

    <hr>
</div>
