hr {
    border: 1px solid rgba(17, 17, 17, 0.5);
    padding: 0;
    margin: 0;
}

.track-in-queue {
    height: 55px;
    cursor: pointer;
    /*background: black;*/
}

.track-in-queue:hover {
    background: #313131;
    /*color: #2e8eff;*/
}

.track-in-queue-active {
    color: black;
    background: #2e8eff;
}

.track-in-queue-active:hover {
    color: black;
    background: #2eadff;
}

.track-in-queue-cover img {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: 7px;
    margin-top: 7px;
    border-radius: 50%;
}

.track-in-queue-name {
    position: absolute;
    margin-left: 55px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px;
    max-width: 150px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.track-in-queue-artist {
    position: absolute;
    margin-left: 55px;
    margin-top: 27px;
    max-width: 150px;
    font-size: 14px;
    padding: 0;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.track-in-queue-options {
    position: absolute;
    width: 25px;
    height: 60px;
    margin-left: 215px;
    /*background: green;*/
}

.track-in-queue-options i {
    margin-top: 15px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.track-in-queue-options i:hover {
    color: #2e8eff;
}

/* Style for playing track */
.playing {
    color: rgba(46, 142, 255, 1);
    background: rgba(255, 255, 255, 0.05);
}
