body {
    color: #eee;
    background: #111;
}

img {
    width: 150px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: calc(50% - 75px);
    margin-left: -webkit-calc(50% - 75px);
    margin-left: -moz-calc(50% - 75px);
}

.wrapper {
    font-size: 17px;
    /*margin-top: 50px;*/
    width: 500px;
    background: #222;
    margin-left: calc(50% - 250px);
    margin-left: -webkit-calc(50% - 250px);
    margin-left: -moz-calc(50% - 250px);
    padding: 30px;
    padding-top: 20px;
    box-shadow: 2px 2px 10px #000;
}

.remark-text {
    color: #008ef5;
}

@media only screen and (max-width: 520px) {

    .wrapper {
        width: 90%;
        margin-left: 5%;
    }

    #allow {
        margin-top: 25px;
        margin-right: calc(50% - 58px);
        margin-right: -webkit-calc(50% - 58px);
        margin-right: -moz-calc(50% - 58px);
    }

    #deny {
        margin-left: calc(50% - 50px);
        margin-left: -webkit-calc(50% - 50px);
        margin-left: -moz-calc(50% - 50px);
    }
}
