body {
    color: #eee;
    background: #111;
}

img {
    width: 150px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: calc(50% - 75px);
    margin-left: -webkit-calc(50% - 75px);
    margin-left: -moz-calc(50% - 75px);
}

.wrapper {
    /*font-size: 17px;*/
    /*margin-top: 50px;*/
    width: 500px;
    background: #222;
    margin-left: calc(50% - 250px);
    margin-left: -webkit-calc(50% - 250px);
    margin-left: -moz-calc(50% - 250px);
    margin-bottom: 25px;
    padding: 30px;
    padding-top: 20px;
    box-shadow: 2px 2px 10px #000;
}

.inner-wrapper {
    padding-top: 20px;
}

.tabs {
	margin: 0;
	left: 0;
	background: inherit;
	color: white;
}

.tabs .indicator {
	background-color: #008ef5;
}

.remark-text {
    color: #008ef5;
}

input[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #008ef5;
     background-color: #008ef5;
}

@media only screen and (max-width: 520px) {

    .wrapper {
        width: 90%;
        margin-left: 5%;
    }

    .login-btn {
        margin-top: 25px;
        margin-right: calc(50% - 56px);
        margin-right: -webkit-calc(50% - 56px);
        margin-right: -moz-calc(50% - 56px);
    }

    .register-btn {
        margin-top: 25px;
        margin-right: calc(50% - 67px);
        margin-right: -webkit-calc(50% - 67px);
        margin-right: -moz-calc(50% - 67px);
    }

    .cancel-btn {
        margin-left: calc(50% - 50px);
        margin-left: -webkit-calc(50% - 50px);
        margin-left: -moz-calc(50% - 50px);
    }

    .message {
        margin-top: 30px;
    }
}
