.nav-wrapper {
    background: #252525;
}

.input-field {
    background: #252525;
}

input[type=search]:focus {
    background: #2f2f2f;
    color: #eee;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #333 inset;
    -webkit-text-fill-color: #eee;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #333 inset;
    -webkit-text-fill-color: #eee;
}

#search-output {
    padding: 2.5px;
}

.divider {
    float: left;
    width: calc(100% - 5px);
    width: -moz-calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    height: 35px;
    margin: 2.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: inherit;
}

.divider .title {
    color: #2e8eff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 3px;
}
