<nav>
    <div class="nav-wrapper">
        <form>
            <div class="input-field">
                <input id="search" type="search" placeholder="Search" required
                    name="search" [(ngModel)]="searchInput"
                    (ngModelChange)="search(searchInput)">
                <label for="search"><i class="material-icons">search</i></label>
            </div>
        </form>
    </div>
</nav>

<!-- <nav>
    <div class="nav-wrapper">
        <form>
            <div class="input-field">
                <input id="search" type="search" placeholder="Search" required
                    name="search" [ngModel]="searchInput"
                    (ngModelChange)="search($event)">
                <label for="search"><i class="material-icons">search</i></label>
            </div>
        </form>
    </div>
</nav> -->

<div id="search-output">

    <div *ngIf="playlists.length !== 0" class="divider">
        <div class="title">PLAYLISTS</div>
    </div>
    <box *ngFor="let playlist of playlists" [object]="playlist"></box>

    <div *ngIf="users.length !== 0" class="divider">
        <div class="title">USERS</div>
    </div>
    <box *ngFor="let user of users" [object]="user"></box>

    <div *ngIf="tracks.length !== 0" class="divider">
        <div class="title">TRACKS</div>
    </div>
    <box *ngFor="let track of tracks" [object]="track"></box>

</div>
