p {
    font-size: 20px;
    color: blue;
    padding: 0;
    margin: 0;
}

.overflow-x-auto {
    overflow-x: auto;
}

table {
    /*color: rgba(46, 142, 255, 1);*/
    /*border: 1px solid blue;*/
    /*table-layout: fixed;*/
}

th {
    color: rgba(46, 142, 255, 0.8);
    border-bottom: 1px solid #333;
    padding: 5px;
}

td {
    cursor: pointer;
    border-bottom: 1px solid #333;
    /*border: 1px solid #333;*/
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}

th i {
    width: 10px;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 20px;
}

td i {
    width: 10px;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 20px;
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.05);
}

.fixed-size-column {
    min-width: 40px;
    width: 40px;
    /*background: #000;*/
}

/***** SCROLLBAR **************************************************************/

.scrollbar { }

.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /*background: black;*/
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(75, 75, 75, 0.5);
}

/******************************************************************************/

@media only screen and (max-width: 992px) {

}
