<box *ngFor="let track of tracks" [object]="track"></box>

<!-- <div class="overflow-x-auto scrollbar">
    <table class="">
        <thead>
            <tr>
                <th data-field="id" class="fixed-size-column">#</th>
                <th data-field="favorite" class="fixed-size-column"><i class="material-icons">favorite_border</i></th>
                <th data-field="track">TRACK</th>
                <th data-field="artist">ARTIST</th>
                <th data-field="album">ALBUM</th>
                <th data-field="genres">GENRES</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>123</td>
                <td><i class="material-icons">favorite_border</i></td>
                <td>The Real Slim Shady</td>
                <td>Eminem</td>
                <td>Curtain Call - The Hits</td>
                <td>Rap, Hip-Hop</td>
            </tr>
            <tr>
                <td>23</td>
                <td><i class="material-icons">favorite</i></td>
                <td>Little Black Submarines</td>
                <td>The Black Keys</td>
                <td>Little Black Submarines</td>
                <td>Rock</td>
            </tr>
            <tr>
                <td>35</td>
                <td><i class="material-icons">favorite</i></td>
                <td>Turn Me On</td>
                <td>Cheat Codes, Dante Klein</td>
                <td>Turn Me On</td>
                <td>EDM</td>
            </tr>
        </tbody>
    </table>
</div> -->
