<a routerLink="{{'/playlist/' + playlist.id}}" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">queue_music</i>{{playlist.name}}
    </div>
</a>
