a {
    color: #ccc;
}

.sidenav-option {
    /*position: absolute;*/
    cursor: pointer;
    padding: 7px 15px;
    font-size: 17px;
    /*font-weight: bold;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    /*background: rgba(113, 42, 223, 0.82);*/
}

.sidenav-option i {
    font-size: 20px;
    padding: 2px;
}

.sidenav-option:hover {
    color: #2e8eff;
}

.sidenav-option:hover i {
    color: #ccc;
}

.sidenav-option-selected {
    background: #2c2c2c;
    color: #2e8eff;
}
