<div class="center-div" [class.scrollbar]="!runningOnMobile"
    [class.center-div-expand-left]="!leftDivIsOpen && rightDivIsOpen"
    [class.center-div-expand-right]="leftDivIsOpen && !rightDivIsOpen"
    [class.center-div-expand-both]="(!leftDivIsOpen && !rightDivIsOpen) || centerDivIsSmall"
    (window:resize)="onWindowResize($event)"
    (contextmenu)="contextMenu($event)">
    <router-outlet></router-outlet>
</div>

<div class="right-div" [class.scrollbar]="!runningOnMobile"
    [class.right-div-close]="!rightDivIsOpen"
    (contextmenu)="contextMenu($event)">
    <play-queue></play-queue>
</div>

<div class="left-div" [class.scrollbar]="!runningOnMobile"
    [class.left-div-close]="!leftDivIsOpen"
    (contextmenu)="contextMenu($event)">
    <sidenav *ngIf="logged"></sidenav>
    <sidenav-no-logged *ngIf="!logged"></sidenav-no-logged>
</div>

<div class="footer-div"
    [style.height]="footerDivHeight"
    [style.transition]="footerDivTransition"
    (contextmenu)="contextMenu($event)"
    (pan)="footerDivOnPan($event)"
    (panstart)="footerDivOnPanStart($event)"
    (panend)="footerDivOnPanEnd($event)"
    (swipeup)="footerDivSwipeUp()"
    (swipedown)="footerDivSwipeDown()">

    <div *ngIf="!footerDivIsFullHeight" id="player-small">
        <div (click)="leftDivButtonClicked()" class="left-div-button sidediv-button">
            <i *ngIf="leftDivIsOpen" class="material-icons left-div-button-inner">chevron_left</i>
            <i *ngIf="!leftDivIsOpen" class="material-icons left-div-button-inner">chevron_right</i>
        </div>

        <div (click)="rightDivButtonClicked()" class="right-div-button sidediv-button">
            <i class="material-icons right-div-button-inner">queue_music</i>
        </div>

        <div class="player-small-div">
            <player></player>
        </div>
    </div>

    <div *ngIf="footerDivIsFullHeight" id="player-big">
        <div class="close-menu"></div>
        <player-big></player-big>
    </div>

</div>

<div id="new-playlist-modal" class="modal modal-fixed-footer">
    <div class="modal-content scrollbar">
        <playlist-form></playlist-form>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect red btn-flat white-text left"
           (click)="playlistModalCancel()">
            Cancel
        </a>
        <a class=" modal-action modal-close waves-effect green btn-flat white-text right"
           (click)="playlistModalCreate()">
           Create
       </a>
    </div>
</div>

<context-menu
    [top]="contextMenuTop"
    [left]="contextMenuLeft"
    [user]="contextMenuUser"
    [track]="contextMenuTrack"
    [playlist]="contextMenuPlaylist">
</context-menu>
