.center-div {
    position: absolute;
    width: calc(100% - 500px);
    width: -moz-calc(100% - 500px);
    width: -webkit-calc(100% - 500px);
    background: #111111;
    color: #cdcdcd;
    left: 0;
    top: 0;
    bottom: 60px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    /*margin-bottom: 60px;*/
    margin-left: 250px;
    margin-right: 250px;
    float: left;
    /*border-bottom: 1px solid #111111;*/
    transition: all 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 0;
}

.left-div {
    position: absolute;
    width: 250px;
    background: #212121;
    color: #cdcdcd;
    left: 0;
    top: 0;
    bottom: 60px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    /*border-bottom: 1px solid #111111;*/
    transition: all 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*z-index: 2000;*/
}


.right-div {
    position: absolute;
    width: 250px;
    background: #212121;
    color: #cdcdcd;
    right: 0;
    top: 0;
    bottom: 60px;
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
    /*margin-bottom: 60px;*/
    /*border-bottom: 1px solid #111111;*/
    transition: all 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*z-index: 9;*/
}

.footer-div {
    background-color: #212121;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:60px;
    min-height: 60px;
    max-height: 100%;
    margin-bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*transition: 0.3s;*/
    z-index: 100;
    border-top: 2px solid #111;
    /*-ms-touch-select: none;*/
    /*-webkit-touch-callout: none;*/
    /*touch-action: manipulation;*/
    /*z-index: 11;*/
}


/***** OPEN AND CLOSE LEFT AND RIGHT DIV **************************************/

.center-div-expand-right {
    width: calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    margin-right: 0;
    transition: all 0.3s;
}

.center-div-expand-left {
    width: calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    margin-left: 0;
    transition: all 0.3s;
}

.center-div-expand-both {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    transition: all 0.3s;
}

.side-div-close {
    width: 0;
    transition: all 0.3s;
}

.left-div-close {
    left: -250px;
    transition: 0.3s;
}

.right-div-close {
    right: -250px;
    transition: 0.3s;
}

/***** FOOTER *****************************************************************/

.left-div-button { float: left; }

.right-div-button { float: right; }

.sidediv-button {
    cursor: pointer;
    color: white;
    width: 40px;
    height: 60px;
}

.sidediv-button:hover {
    background: #363636;
}

.left-div-button-inner {
    margin-top: 17.5px;
    margin-left: 9px;
    color: #ccc;
}

.left-div-button-inner:hover {
    color: #eee;
}

.right-div-button-inner {
    margin-top: 17.5px;
    margin-left: 9px;
    color: #ccc;
}

.right-div-button-inner:hover {
    color: #eee;
}

.player-small-div {
    width: calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    height: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

#player-small {
    /*display: none;*/
    /*opacity: 0.5;*/
}

.close-menu {
    height: 40px;
    background: inherit;
    color: #cdcdcd;
}

/******************************************************************************/

.modal {
    background: #212121;
    color: #eee;
}

.modal-content {
    padding: 40px;
    padding-top: 30px;
    background: #212121;
}

.modal-footer {
    background: #212121;
}

#new-playlist-modal {
    z-index: 5000000;
}

/******************************************************************************/

@media only screen and (max-width: 992px) {

    .center-div {
        /*width: 100%;*/
    }

    .left-div {

    }

    .right-div {

    }
}
