.context-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    /*background-color: rgba(0, 0, 255, 0.2);*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 1000000;
}

.context-menu hr {
    padding: 0;
    margin: 0;z
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid rgba(17, 17, 17, 0.3);
}

.context-menu .separator {
    float: left;
    padding: 0;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    height: 2px;
    background: rgba(17, 17, 17, 0.3);
}

.context-menu ul {
    position: absolute;
    display: block;
    float: left;
    background: #313131;
    color: #eee;
    width: 210px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 0;
}

.context-menu ul li {
    float: left;
    width: 100%;
    /*padding: 7px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    height: 35px;
    max-height: 35px;
}

.context-menu ul li:hover {
    background: rgba(46, 142, 255, 0.75);
}

.context-menu ul li > ul {
    display: none;
    position: relative;
    float: left;
    top: -35px;
    /*left: calc(100% + 20px);*/
    left: calc(100%);
    width: 300px;
}

.context-menu ul li:hover > ul {
    display: block;
}

.context-menu ul li span {
    float: left;
    width: 100%;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    /*background: red;*/
    cursor: pointer;
}
