<div class="context-menu" (click)="closeContextMenu()"
[style.display]="display" id="_context-menu">

    <ul [style.top]="mainMenuTop" [style.left]="mainMenuLeft" id="main-menu">
        <li>
            <span>Like</span>
        </li>
        <li>
            <span>Repost</span>
        </li>
        <span class="separator"></span>
        <li *ngIf="track !== undefined || playlist !== undefined">
            <span (click)="addToPlayQueue()">Add to play queue</span>
        </li>
        <li *ngIf="track" (mouseleave)="resetPlaylistsMenu($event)">
            <span (mouseover)="showPlaylistsMenu($event)">Add to playlist</span>
            <ul id="playlists-list"
                [style.top]="playlistsMenuTop" [style.left]="playlistsMenuLeft">
                <li *ngFor="let p of mePlaylists">
                    <span (click)="addTrackToPlaylist(p.id)">
                        {{p.name}}
                    </span>
                </li>
            </ul>
        </li>
        <li *ngIf="track !== undefined && playlist !== undefined" (click)="removeTrackFromPlaylist()">
            <span>Remove from this playlist</span>
        </li>
        <li *ngIf="itsMine">
            <span (click)="delete()" [style.background]="deleteColor">
                {{deleteText}}
            </span>
        </li>
    </ul>

</div>
