<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bluzu Auth</title>
    <link rel="stylesheet" href="/css/materialize/materialize.min.css">
    <link rel="stylesheet" href="/css/dialog.css">
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
</head>
<body>
    <img src="/img/bluzu_1.png">
    <div class="wrapper left">
        <p>Hi <b class="remark-text"><%= user.name %></b>!</p>
        <p><b class="remark-text"><%= client.name %></b> is requesting <b class="remark-text">full access</b> to your account.</p>
        <p>Do you approve?</p>

        <form action="/oauth2/decision" method="post">
            <input name="transaction_id" type="hidden" value="<%= transactionId %>">
            <input name="user_id" type="hidden" value="<%= user.id %>">
            <br>
            <div>
                <input type="submit" value="Deny" name="cancel" id="deny" class="btn red left">
                <input type="submit" value="Allow" id="allow" class="btn green right">
            </div>
        </form>
    </div>
</body>
</html>

<!-- http://localhost:8080/oauth2/authorize?client_id=583d00163362a42b344a4552&response_type=code&redirect_uri=http://localhost:8080 -->
