<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | Bluzu</title>
    <link rel="stylesheet" href="/css/materialize/materialize.min.css">
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
</head>
<body>
    <img src="/img/bluzu_1.png">
    <div class="wrapper left">

          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active blue-text" href="#login">LOGIN</a></li>
              <li class="tab col s3"><a class="blue-text" href="#register">REGISTER</a></li>
            </ul>
          </div>

          <div id="login" class="col s12 inner-wrapper">
              <form name="login-form" action="<%- post_uri %>" method="post">
                <div>
                    <input type="text" name="username" placeholder="Username" class="input-field" required>
                    <input type="password" name="password" placeholder="Password" class="input-field" required>
                    <br><br>
					<div class="btn red left cancel-btn" onclick="cancel()">CANCEL</div>
                    <input type="submit" name="login" value="Login" class="btn green right login-btn">
                </div>
            </form>
          </div>

          <div id="register" class="col s12 inner-wrapper">
              <form name="register-form" action="<%- post_uri %>" method="post">
                <div>
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="text" name="username" placeholder="Username" pattern="[a-z0-9-_]{1,32}" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="verifyPassword" placeholder="Verify password" required>
                    <p>
                        <input type="checkbox" name="public" class="filled-in" id="filled-in-box"/>
                        <label for="filled-in-box">Public account ?</label>
                    </p>
                    <br>
                    <div class="btn red left cancel-btn" onclick="cancel()">CANCEL</div>
                    <input type="submit" name="register" value="Register" class="btn green right register-btn">
                </div>
            </form>
          </div>
          <% if (message !== "") { %>
              <br><br><br>
              <p class="col-12 left red-text message"><%= message %></p>
          <% } %>

    </div>

    <script>
        function setForNode() {
            // if on node
            if (typeof process === 'object' && process + '' === '[object process]'){
                window.$ = window.jQuery = module.exports;
            }
        }

        function cancel() {
            // if on node
            if (typeof process === 'object' && process + '' === '[object process]'){
                window.close();
            }
            // if on browser
            else {
                window.history.back();
            }
        }
    </script>
    <script src="/js/jquery/jquery.min.js" onload="setForNode()"></script>
    <script src="/js/hammer/hammer.min.js"></script>
    <script src="/js/materialize/materialize.min.js"></script>

</body>
</html>
