header {
    width: 100%;
    height: 350px;
    position: relative;
}

/* Reset h1 */
h1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#channelart {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2e8eff;
    background: -webkit-linear-gradient(#2ebaff, #2e8eff);
    background: -o-linear-gradient(#2ebaff, #2e8eff);
    background: -moz-linear-gradient(#2ebaff, #2e8eff);
    background: linear-gradient(#2ebaff, #2e8eff);
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    /*-webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
    overflow: hidden;*/
}

#gradient {
    position: absolute;
    bottom: 0;
    width:100%;
    height:100%;
    background:transparent;
    background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.5) 100% );
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.5) 100% );
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.5) 100% );
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.5) 100% );
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.5) 100% );
}

#artist-header {
    position: absolute;
    bottom: 0;
    width:100%;
    height:175px;
    /*background: black;*/
}

/******************************************************************************/

#profile-picture-container {
    height: 175px;
    width: 225px;
    float: left;
    /*background: blue;*/
}

#profile-picture {
    position: absolute;
    height: 150px;
    width: 150px;
    margin-left: 50px;
    margin-top: 12.5px;
    border-radius: 50%;
    background: #2e8eff;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/******************************************************************************/

#user-name-container {
    height: 60px;
    width: calc(100% - 225px);
    width: -moz-calc(100% - 225px);
    width: -webkit-calc(100% - 225px);
    margin-top: 35px;
    float: left;
    /*background: green;*/
}

#user-name {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
/******************************************************************************/

#follow-listen-buttons-container {
    height: 80px;
    width: calc(100% - 225px);
    width: -moz-calc(100% - 225px);
    width: -webkit-calc(100% - 225px);
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    /*background: purple;*/
}

#follow-button {
    position: absolute;
    background: transparent;
    width: 200px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;
    float: left;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#follow-button-text {
    position: relative;
    /*position: absolute;*/
    cursor: pointer;
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 50px 0 0 50px;
    background: #2e8eff;
    color: #fff;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 8px;
}

#follow-button-text:hover {
    background: #2ebaff;
}

#follow-button-num-followers {
    /*position: absolute;*/
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 50%;
    border-radius: 0 50px 50px 0;
    background: rgba(30, 30, 30, 0.80);
    border: 1.5px solid #2e8eff;
    color: #2e8eff;
    font-size: 13px;
    padding-top: 7px;
    padding-right: 8px;
}

#listen-button {
    /*position: absolute;*/
    position: relative;
    cursor: pointer;
    background: #2e8eff;
    color: #fff;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    /*text-align: center;*/
    margin-top: 10px;
    margin-left: 220px;
    float: left;
    transition: 0s;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#listen-button:hover {
    background: #2ebaff;
}

#listen-button-icon {
    font-size: 18px;
    margin-top: 8px;
    margin-left: 42px;
    float: left;
}

#listen-button-text {
    position: absolute;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 62px;
    float: left;
}

/******************************************************************************/

@media only screen and (max-width: 992px) {

    #artist-header {
        position: absolute;
        bottom: 0;
        width:100%;
        height:100%;
        text-align: center;
    }

    #profile-picture-container {
        height: 180px;
        width: 100%;
        float: left;
        /*background: rgba(119, 86, 250, 0.65);*/
    }

    #user-name-container {
        height: 50px;
        width: 100%;
        margin-top: 0;
        float: left;
        text-align: center;
        overflow: hidden;
        float: left;
        /*background: rgba(66, 246, 90, 0.65);*/
    }

    #follow-listen-buttons-container {
        position: absolute;
        height:120px;
        width: 100%;
        float: left;
        bottom: 0;
        /*background: rgba(254, 44, 220, 0.65);*/
    }

    #profile-picture {
        margin-top: 20px;
        margin-left: calc(50% - 75px);
        margin-left: -moz-calc(50% - 75px);
        margin-left: -webkit-calc(50% - 75px);
    }

    #user-name {
        font-size: 30px;
        padding: 0 10px;
    }

    #follow-button {
        margin-top: 15px;
        margin-left: calc(50% - 100px);
        margin-left: -moz-calc(50% - 100px);
        margin-left: -webkit-calc(50% - 100px);
    }

    #listen-button {
        margin-top: 65px;
        margin-left: calc(50% - 75px);
        margin-left: -moz-calc(50% - 75px);
        margin-left: -webkit-calc(50% - 75px);
    }

}
