nav {
    /*position: absolute;*/
    background: rgba(0, 0, 0, 0.7);
    /*overflow-x: scroll;
    overflow-y: hidden;*/
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    padding-left: 45px;
    /*box-shadow: 0 0 0 0;*/
}

/********************************/

#nav-home {

}
#nav-tracks {
    margin-left: 120px;
}
#nav-playlist {
    margin-left: 320px;
}
#nav-similar-artist {
    margin-left: 470px;
}
#nav-about {
    margin-left: 660px;
}
#nav-more {
    margin-left: 790px;
}

/*******************************/
nav {
    overflow-y: hidden;
    overflow-x: auto;
    text-overflow: clip;
    white-space: nowrap;
    display: block;
}

nav ul li {
    position: absolute;
    display: inline-block;
}

nav ul li a:hover {
    color: #2e8eff;
}

nav ul li.nav-active a {
    /*background: rgba(46, 142, 255, 0.6);*/
    color: rgba(46, 142, 255, 1);
    transition: 0.3s;
}

nav ul li.nav-active a:hover {
    color: #00bbff;
}

.nav-more {
    max-width: 58px;
    /*background: green;*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

nav ul li a i {
    /*max-width: 58px;
    background: blue;*/
    /*-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);*/
}

/***** SCROLLBAR **************************************************************/

.nav-scrollbar {

}

.nav-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.nav-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(75, 75, 75, 0.2);
}

/******************************************************************************/

@media only screen and (max-width: 992px) {

    nav {
        padding-left: 5px;
    }

}
