<!----------------------------------------------------------------------------->
<!-- Background and profile user image, user name, follow and listen buttons -->

<header *ngIf="user">
    <div id="channelart" [style.background-image]="backgroundImage"></div>
    <div id="gradient"></div>
    <div id="artist-header">
        <div id="profile-picture-container">
            <div id="profile-picture" [style.background-image]="profileImage"></div>
        </div>
        <div id="user-name-container">
            <h1 id="user-name">{{user.name}}</h1>
        </div>
        <div id="follow-listen-buttons-container">
            <div id="follow-button">
                <div id="follow-button-text" class="waves-effect">FOLLOWING</div>
                <div id="follow-button-num-followers">3.979.134</div>
            </div>
            <div id="listen-button" class="waves-effect" (click)="play()">
                <i id="listen-button-icon" class="material-icons">music_note</i>
                <div id="listen-button-text">LISTEN</div>
            </div>
        </div>
    </div>
</header>

<!----------------------------------------------------------------------------->
<!-- Horizontal navigation bar -->

<!-- class="nav-active" -->
<nav class="overflow-x-auto nav-scrollbar">
  <div class="nav-wrapper">
    <ul class="left">
      <li id="nav-home"><a routerLink="home" routerLinkActive="active">
          <i class="material-icons left">home</i>HOME
      </a></li>
      <li id="nav-tracks"><a routerLink="music" routerLinkActive="active">
          <i class="material-icons left">album</i>TRACKS/ALBUMS
      </a></li>
      <li id="nav-playlist"><a routerLink="playlists" routerLinkActive="active">
          <i class="material-icons left">playlist_play</i>PLAYLISTS
      </a></li>
      <li id="nav-similar-artist"><a routerLink="similar-artists" routerLinkActive="active">
          <i class="material-icons left">person</i>SIMILAR ARTIST
      </a></li>
      <li id="nav-about"><a routerLink="about" routerLinkActive="active">
          <i class="material-icons left">info</i>ABOUT
      </a></li>
      <li id="nav-more" class="nav-more"><a>
          <i class="material-icons">more_vert</i>
      </a></li>
    </ul>
  </div>
</nav>

<!----------------------------------------------------------------------------->
<!-- User content -->

<!-- <div class="user-content"> -->

    <router-outlet></router-outlet>

<!-- </div> -->
