<div class="input-field name-container">
    <input id="name" type="text" length="100" maxlength="100" required [(ngModel)]="name">
    <label for="name">Name</label>
</div>

<div class="image-container">
    <div class="image" [style.background-image]="imageUrl"></div>
    <input class="choose-image" id="playlist-image" type="file" (change)="readUrl($event)">
    <button class="change-image-button waves-effect btn"
    (click)="chooseImage()"
    [style.background]="backgroundColor"
    [style.color]="textColor">
        CHOOSE IMAGE
    </button>
</div>

<div class="input-field description-container">
    <textarea id="description" class="materialize-textarea" length="300" maxlength="300" [(ngModel)]="description"></textarea>
    <label for="description">Description</label>
</div>
