.name-container {
    width: 100%;
    float: left;
}

.description-container {
    float: left;
    width: calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    margin-left: 50px;
    margin-top: 27px;
}

.image-container {
    float: left;
    width: 200px;
    height: 250px;
    margin-top: 20px;
    /*transition: 0.3s;*/
}

.image {
    float: left;
    width: 100%;
    height: 200px;

    background: #2e8eff;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.change-image-button {
    float: left;
    width: 100%;
    height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /*box-shadow: none;*/
    background: #2e8eff;
}

.change-image-button .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    /*box-shadow: none;*/
    background: #2e8eff;
}

.image-container input[type="file"] {
    display: none;
}

/******************************************************************************/

@media only screen and (max-width: 600px) {

    .image-container {
        margin-left: calc(50% - 100px);
        margin-left: -moz-calc(50% - 100px);
        margin-left: -webkit-calc(50% - 100px);
    }

    .description-container {
        width: 100%;
        margin-left: 0;
        margin-top: 35px;
    }

}
