#header {
    position: relative;
    width: 100%;
    height: 350px;
    /*padding: 35px;*/
    /*background: rgba(46, 142, 255, 0.55);*/
    /*transition: 1s;*/
}

#playlist-tracks {
    padding: 35px;
    padding-top: 20px;
    transition: 0.3s;
}

#header-darker-background {
    position: absolute;
    height: 100%;
    width: 100%;
    /*background: purple;*/
    background: #111;
    /*opacity: 0.15;*/
    opacity: 0.05;
    z-index: 0;
}

/******************************************************************************/

#playlist-info {
    /*background: rgba(255, 0, 0, 0.1);*/
    /*background-color: inherit;*/
    position: relative;
    float: left;
    padding-top: 35px;
    width: calc(100% - 350px);
    width: -moz-calc(100% - 350px);
    width: -webkit-calc(100% - 350px);
}

#playlist-title {
    background-color: inherit;
    font-size: 40px;
    font-weight: bold;
    padding: 0:
    margin: 0;

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

#playlist-artists {
    /*background-color: blue;*/
    font-size: 30px;
    padding-bottom: 5px;

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

#playlist-genres {
    /*background-color: green;*/

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;

    opacity: 0.7;
}

#playlist-label {
    /*background-color: grey;*/

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;

    opacity: 0.7;
}

#playlist-release-date {
    /*background-color: yellow;*/

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;

    opacity: 0.7;
}

#playlist-numbers {
    /*background-color: purple;*/

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;

    /*color: #2e8eff;*/
    /*background: black;*/
    opacity: 0.7;
}

/******************************************************************************/
/* playlist image */

#playlist-image {
    position: relative;
    /*width:50%;*/
    max-width: 280px;
    width: 280px;
    float: left;
    margin: 35px;
    background: #373737;
    /*transition: 1s;*/
    /*background: #2e8eff;*/
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#playlist-image:before {
    content: "";
    display: block;
    padding-top: 100%;
}

/*.box img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #2e8eff;
}

.box img:before {
    content: "";
    display: block;
    padding-top: 100%; / 1:1 ratio /
}*/

/******************************************************************************/

#like-listen-buttons-container {
    position: relative;
    height: 80px;
    width: calc(100% - 350px);
    width: -moz-calc(100% - 350px);
    width: -webkit-calc(100% - 350px);
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    /*background: purple;*/
    /*background: rgba(213, 39, 98, 0.2);*/
}

#like-button {
    position: absolute;
    background: transparent;
    width: 200px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#like-button-text {
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 50px 0 0 50px;
    background: #2e8eff;
    color: #fff;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 8px;
}

#like-button-text:hover {
    background: #00abff;
}

#like-button-num-likes {
    position: absolute;
    width: 50%;
    height: 100%;
    margin-left: 50%;
    border-radius: 0 50px 50px 0;
    background: rgba(30, 30, 30, 0.80);
    border: 1.5px solid #2e8eff;
    color: #2e8eff;
    font-size: 13px;
    padding-top: 7px;
    padding-right: 8px;
}

#listen-button {
    position: absolute;
    cursor: pointer;
    background: #2e8eff;
    color: #fff;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    /*text-align: center;*/
    margin-top: 10px;
    margin-left: 220px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#listen-button:hover {
    background: #00abff;
}

#listen-button-icon {
    font-size: 18px;
    margin-top: 8px;
    margin-left: 42px;
    float: left;
}

#listen-button-text {
    position: absolute;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 62px;
    float: left;
}

/******************************************************************************/
/* Table of tracks */

.overflow-x-auto {
    overflow-x: auto;
}

table {
    /*color: rgba(46, 142, 255, 1);*/
    /*border: 1px solid blue;*/
    /*table-layout: fixed;*/
}

th {
    color: rgba(46, 142, 255, 0.8);
    border-bottom: 1px solid #333;
    padding: 5px;
}

td {
    cursor: pointer;
    border-bottom: 1px solid #333;
    /*border: 1px solid #333;*/
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}

th i {
    width: 10px;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 20px;
}

td i {
    width: 10px;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 20px;
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.05);
    /*background: rgba(46, 142, 255, 0.6);*/
}

.fixed-size-column {
    min-width: 40px;
    width: 40px;
    /*background: #000;*/
}

table td i:hover {
    color: rgba(46, 142, 255, 1);
}

.hover-hide {
    display: none;
}

/* Style for playing track */
.playing td {
    color: rgba(46, 142, 255, 1);
    background: rgba(255, 255, 255, 0.05);
}

/******************************************************************************/

@media only screen and (max-width: 992px) {

    #header {
        /*padding: 0;*/
    }

    #playlist-tracks {
        padding: 20px;
    }

}

@media only screen and (max-width: 768px) {

    #header {
        /*padding: 0;*/
    }

    #playlist-tracks {
        padding: 10px;
    }

}

@media only screen and (max-width: 500px) {

    #header {
        padding: 0;
        height: 750px;
        /*transition: 0.7s;*/
    }

    #playlist-image {
        /*width: 100%;*/
        max-width: 500px;
        width: 80%;
        margin: 10%;
        margin-bottom: 5%;
    }

    #playlist-info {
        text-align: center;
        padding: 0;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #playlist-title {
        /*width: 100%;*/
        font-size: 25px;
    }

    #playlist-artists {
        /*width: 100%;*/
        font-size: 17.5px;
    }

    #playlist-genres {
        /*width: 100%;*/
    }

    #playlist-label {
        /*width: 100%;*/
    }

    #playlist-release-date {
        /*width: 100%;*/
    }

    #playlist-numbers {
        /*width: 100%;*/
    }

    #like-listen-buttons-container {
        position: absolute;
        height:120px;
        width: 100%;
        float: left;
        bottom: 0;
        /*background: rgba(254, 44, 220, 0.65);*/
    }

    #like-button {
        margin-top: 15px;
        margin-left: calc(50% - 100px);
        margin-left: -moz-calc(50% - 100px);
        margin-left: -webkit-calc(50% - 100px);
    }

    #listen-button {
        margin-top: 65px;
        margin-left: calc(50% - 75px);
        margin-left: -moz-calc(50% - 75px);
        margin-left: -webkit-calc(50% - 75px);
    }
}

@media only screen and (max-width: 400px) {

    #header {
        height: 650px;
        /*transition: 1s;*/
    }
}

@media only screen and (max-width: 350px) {

    #header {
        height: 600px;
        /*transition: 1s;*/
    }
}

@media only screen and (max-width: 300px) {

    #header {
        height: 550px;
        /*transition: 1s;*/
    }

    #playlist-title {
        /*width: 100%;*/
        font-size: 20px;
    }
}
