<div *ngIf="playlist">

<div id="header"
[style.background]="playlist.image.dominantColor"
[style.color]="playlist.image.textColor">
    <div id="header-darker-background"></div>

    <div id="playlist-image" [style.background-image]="playlistImage">
        <!-- <img src="{{playlist.image.url}}"> -->
    </div>

    <div id="playlist-info">
        <div id="playlist-title">{{playlist.name}}</div>
        <!-- <div id="playlist-artists">{{playlist.artists[0].name}}</div> -->
        <div id="playlist-artists">{{playlist.owner.name}}</div> <!-- TODO -->
        <div id="playlist-genres">{{playlist.genres}}</div>
        <div id="playlist-label">{{playlist.labels}}</div>
        <div *ngIf="releaseDate" id="playlist-release-date">{{releaseDate}}</div>
        <div id="playlist-numbers">{{numTracks}} tracks · {{totalTime}}</div>
    </div>

    <div id="like-listen-buttons-container">
        <div id="like-button">
            <div id="like-button-text">DISLIKE</div>
            <div id="like-button-num-likes">3.979.134</div>
        </div>
        <div id="listen-button" (click)="addToPlayQueueAndListen(tracks)">
            <i id="listen-button-icon" class="material-icons">music_note</i>
            <div id="listen-button-text">LISTEN</div>
        </div>
    </div>
</div>

<div id="playlist-tracks">
    <div class="overflow-x-auto" [class.scrollbar]="!runningOnMobile">
        <table class="">
            <thead>
                <tr>
                    <th data-field="id" class="fixed-size-column">#</th>
                    <th data-field="favorite" class="fixed-size-column">
                        <i class="material-icons">favorite_border</i>
                    </th>
                    <th data-field="track">TRACK</th>
                    <th data-field="artist">ARTISTS</th>
                    <th data-field="artist">OWNER</th>
                    <!-- <th data-field="genres">ALBUM</th> -->
                    <th data-field="genres">GENRES</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let track of tracks" [class.playing]="checkPlayingTrack(track)" id="{{track.id}}"
                    (dblclick)="playThisTrack(track)"
                    (contextmenu)="contextMenu($event, track)"
                    (mouseover)="showPlayButton(track.id)"
                    (mouseleave)="hidePlayButton(track.id, track.trackNumber)">

                    <td class="track-number" (click)="playThisTrack(track)">
                        {{track.trackNumber}}
                    </td>
                    <td class="like-button" (click)="favouriteThisTrack(track.id)">
                        <i class="material-icons">favorite_border</i>
                    </td>
                    <td>{{track.name}}</td>
                    <td>{{track.artistsN}}</td>
                    <td>{{track.owner.name}}</td>
                    <!-- <td>{{track.artists[0].name}}</td> -->
                    <!-- <td>{{track.playlists[0].name}}</td> -->
                    <td>{{track.genres}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
