<div id="player-big">

    <div class="box">
        <div *ngIf="playingTrack" class="image" [style.background-image]="'url(' + playingTrack.image.url + '/original.' + playingTrack.image.format + ')'"></div>
        <div *ngIf="!playingTrack" class="image"></div>
    </div>

    <div class="meta">
        <span *ngIf="playingTrack">
            <div class="name">{{playingTrack.name}}</div>
            <div class="artists">{{playingTrack.artistsN}}</div>
            <div class="owner">{{playingTrack.owner.name}}</div>
        </span>
        <span *ngIf="!playingTrack">
            <div class="name">No playing tracks</div>
        </span>
    </div>

    <div class="timeline-row">

        <div id="timeline" class="tooltip" (click)="timelineClick($event)" (mousemove)="timelineMouseMove($event)">
            <div id="timeline-played" [ngStyle]="{'width': percentage * 100 + '%'}"></div>
            <span id="tooltipTime">{{toHHMMSS(tooltipTime)}}</span>
        </div>

        <div id="currentTime" class="time left">{{toHHMMSS(currentTime)}}</div>

        <div id="duration" class="time right">{{toHHMMSS(duration)}}</div>
    </div>

    <div class="buttons row1-buttons">

        <i class="material-icons small-button align-v-small-button"
        [class.button-active]="repeatState !== 'off'"
        (click)="repeat()">
            <span *ngIf="repeatState !== 'one'">repeat</span>
            <span *ngIf="repeatState === 'one'">repeat_one</span>
        </i>

        <i id="previous" (click)="previous()" class="material-icons medium-button align-v-medium-button">
            skip_previous
        </i>

        <i id="playPause" (click)="playPause()"
           class="material-icons big-button">
           <span *ngIf="audioPaused">play_circle_filled</span>
           <span *ngIf="!audioPaused">pause_circle_filled</span>
        </i>

        <i id="next" (click)="next()" class="material-icons medium-button align-v-medium-button">
            skip_next
        </i>

        <i id="shuffle" (click)="shuffle()" class="material-icons small-button align-v-small-button">shuffle</i>

    </div>

    <div class="buttons row2-buttons">
        <i id="favorite" (click)="favorite()" class="material-icons small-button">favorite_border</i>
        <i id="repost" (click)="repost()" class="material-icons small-button">loop</i>
        <i id="addToPlaylist" (click)="addToPlaylist()" class="material-icons small-button">playlist_add</i>
        <i id="download" class="material-icons small-button">file_download</i>
        <i id="share" class="material-icons small-button">share</i>
    </div>

</div>
