#player-big {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: blue;*/
}

.box {
    position: relative;
    width: 350px;
    min-width: 120px;
    float: left;
    background: #373737;
    margin-left: calc(50% - 175px);
    margin-left: -moz-calc(50% - 175px);
    margin-left: -webkit-calc(50% - 175px);
    float: left;
    margin-bottom: 15px;
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2e8eff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/******************************************************************************/

.meta {
    width: 350px;
    float: left;
    margin-left: calc(50% - 175px);
    margin-left: -moz-calc(50% - 175px);
    margin-left: -webkit-calc(50% - 175px);
    /*background: blue;*/
    margin-bottom: 15px;
}

.name {
    float: left;
    width: 100%;
    color: #eee;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.artists {
    float: left;
    width: 100%;
    color: #eee;
    font-size: 15px;
    text-align: center;
}

.owner {
    float: left;
    width: 100%;
    color: #eee;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}

/******************************************************************************/

.timeline-row {
    width: 350px;
    float: left;
    margin-left: calc(50% - 175px);
    margin-left: -moz-calc(50% - 175px);
    margin-left: -webkit-calc(50% - 175px);
    margin-bottom: 0;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    /*background: red;*/
}

#timeline {
    float: left;
    cursor: pointer;
	width: 100%;
	height: 10px;
	background: #333;
	/*margin-top: 25px;*/
	border-radius: 15px;
}

#timeline-played {
    position: absolute;
    cursor: pointer;
    width: 0;
    height: 10px;
    background: #333;
    border-radius: 15px;
    background: #2e8eff;
}

.time {
    float: left;
    /*padding-top: 20px;*/
    /*padding-left: 15px;*/
    font-size: 10px;
    color : #ccc;
    margin: 5px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.tooltip {
    position: relative;
}

.tooltip::before {
    display: none;
}

#tooltipTime {
    visibility: hidden;
    color: #2e8eff;
    text-align: center;
    /*border-radius: 6px;*/
    /*padding: 8px 10px;*/
    font-size: 10px;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    opacity: 0;
    transition: opacity 0.5s;
    width: 50px;
    height: 10px;
    padding: 0;
    margin-bottom: 13px;
    background: transparent;
    border: none;
}

.tooltip:hover #tooltipTime {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover #tooltipTime:hover {
    display: none;
}

/******************************************************************************/

.buttons {
    width: 350px;
    float: left;
    margin-left: calc(50% - 175px);
    margin-left: -moz-calc(50% - 175px);
    margin-left: -webkit-calc(50% - 175px);
    text-align: center;
    color: #cdcdcd;
    /*background: blue;*/
    /*height: 200px;*/
}

.big-button {
    float: left;
    font-size: 50px;
    color: #eee;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.medium-button {
    float: left;
    font-size: 30px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.small-button {
    float: left;
    font-size: 25px;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.align-v-medium-button {
    margin-top: 15px;
}

.align-v-small-button {
    margin-top: 17px;
}

.row1-buttons {
    padding-left: 25px;
}

.row2-buttons {
    margin-top: 7px;
    color: #cdcdcd;
    padding-left: 12.5px;
}

.button-active {
    color: #2e8eff;
}

.button-active:hover {
    color: #2ebaff;
}

/******************************************************************************/

 @media only screen and (max-width: 500px) {
     .box {
         width: 78%;
         margin-left: 12.5%;
     }

     .meta {
         width: 80%;
         margin-left: 10%;
     }
 }

 @media only screen and (max-width: 350px) {
     .box {
         width: 100%;
         margin: 0;
         margin-bottom: 15px;
     }

     .meta {
         width: 100%;
         margin-left: 0;
     }

     .buttons {
         width: 100%;
         margin-left: 0;
     }
 }
