.container {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.options {
    float: left;
    width: 100%;
    height: 40px;
    /*background: green;*/
    background: #222;
    margin-bottom: 20px;
}

.delete-track-button {
    color: inherit;
    /*width: 50px;*/
    float: right;
    /*display: none;*/
    text-align: right;
    /*background: blue;*/
    cursor: pointer;
    margin-right: 30px;
    margin-top: 0;
}

.delete-track-button:hover {
    color: red;
}

#add-one-more-track {
    color: inherit;
    background: #222;
    /*float: left;*/
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#add-one-more-track:hover {
    color: #2e8eff;
}

#submit {
    background: #2e8eff;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

#submit:hover {
    background: #78b5ff;
}

@media only screen and (max-width: 656px) {

    .container {
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
    }

    #add-one-more-track {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #submit {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

}

/*@media only screen and (max-width: 350px) {

    #add-one-more-track {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #submit {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}*/
