<div class="container">

<div *ngFor="let track of tracks" id="'track-' + {{tracks.length - 1}}">
    <upload-track [track]="track" [userPlaylists]="userPlaylists"></upload-track>
    <div class="options">
        <p class="delete-track-button" (click)="deleteTrack(track)">DELETE</p>
    </div>
</div>


<button id="add-one-more-track" class="waves-effect btn center-align" (click)="addOneMoreTrack()">ADD 1 MORE TRACK</button>
<!-- <button id="submit" class="waves-effect btn" (click)="debug()">DEBUG</button> -->

</div>
