.page-navigation {
    width: 100%;
    height: 40px;
    /*background: black;*/
}

.go-prev-button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 10px;
    float: left;
    margin-top: 7.5px;
    /*background: rgba(0, 0, 0, 0.2);*/
    color: rgba(255, 255, 255, 0.1);
}

.go-forw-button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 10px;
    float: left;
    margin-top: 7.5px;
    padding-left: 1px;
    /*background: rgba(0, 0, 0, 0.2);*/
    color: rgba(255, 255, 255, 0.1);
}

/******************************************************************************/

#logo {
    width: 100%;
    height: 170px;
    /*background: rgba(0, 0, 0, 0.2);*/
}

/* Square logo */
#logo img {
    width: 150px;
    height: 150px;
    margin-left: calc(50% - 75px);
    margin-left: -moz-calc(50% - 75px);
    margin-left: -webkit-calc(50% - 75px);
    /*margin-top: 20px;*/
}

/******************************************************************************/

hr {
    border: 1px solid rgba(17, 17, 17, 0.5);
    padding: 0;
    margin: 0;
}

br {
    display: block;
    margin: 10px 0;
    line-height: 10px;
    content: " ";
}


/******************************************************************************/

a {
    color: #cdcdcd;
}

.sidenav-option {
    /*position: absolute;*/
    cursor: pointer;
    padding: 7px 15px;
    font-size: 17px;
    /*font-weight: bold;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    /*background: rgba(113, 42, 223, 0.82);*/
}

.sidenav-option i {
    font-size: 20px;
    padding: 2px;
}

.sidenav-option:hover {
    color: #2e8eff;
}

.sidenav-option-selected {
    background: #2c2c2c;
    color: #2e8eff;
}

/******************************************************************************/
/* MODALS */

.modal {
    background: red;
    border-radius: 0;
    /*border-radius: 2px 10px 2px 2px;*/
}

.modal-content {
    background: #212121;
    border-radius: 0;
    /*border-radius: 2px 10px 2px 2px;*/
}

.modal-footer {
    background: #212121;
    border-radius: 0 0;
}
