<div class="page-navigation">
    <div class="go-prev-button" (click)="goPreviousPage()">
        <i class="material-icons">navigate_before</i>
    </div>
    <div class="go-forw-button" (click)="goForwardPage()">
        <i class="material-icons">navigate_next</i>
    </div>
</div>

<div id="logo">
    <img src="images/bluzu/bluzu_04_r2.png" alt="bluzu logo">
</div>

<hr>

<!----------------------------------------------------------------------------->
<button class="btn waves-effect" (click)="login('login')">LOGIN</button>
<button class="btn waves-effect" (click)="login('register')">newUser</button>

<!----------------------------------------------------------------------------->

<a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">help</i>Help
    </div>
</a>

<a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">home</i>Home
    </div>
</a>

<br><hr><br>

<!----------------------------------------------------------------------------->

<a routerLink="search" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">search</i>Search
    </div>
</a>

<br><hr><br>
