<div class="divider" *ngIf="playlists.length > 0"><div class="title">PLAYLISTS</div></div>
<box *ngFor="let playlist of playlists" [object]="playlist"></box>

<div class="divider" *ngIf="tracks.length > 0"><div class="title">TRACKS</div></div>
<box *ngFor="let track of tracks" [object]="track"></box>
