<!-- <div id="{{object.id}}" class='box' in-viewport (inViewport)="setItemClass($event)" -->
<div id="{{object.id}}" class="box"
[style.background]="backgroundColor"
[style.color]="textColor"
[style.width]="boxWidth">
    <div class="hover-color" [class.display]="displayMoreOptions"></div>
    <div class="more-options" (mouseover)="showOptions()" (mouseout)="showOptions()" (contextmenu)="contextMenu($event)">
        <i class="play material-icons" [class.display]="displayMoreOptions" (click)="play(object)">play_circle_filled</i>
    </div>

    <div class="image">
        <div class="cover" [style.background-image]="backgroundImage"></div>
    </div>

    <div class="text">
        <div class="title overflow-ellipsis">
            <a routerLink="{{objectRouterLink}}" routerLinkActive="active">
                {{object.name}}
            </a>
        </div>
        <div *ngIf="object.type !== 'user'" class="artists overflow-ellipsis">
            <!-- TODO: show more artists, not only the first (if there are) -->
            <a routerLink="/user/{{object.owner.id}}" routerLinkActive="active">
                {{object.owner.name}}
            </a>
        </div>
    </div>
</div>
