.box {
    position: relative;
    width: 275px;
    min-width: 120px;
    float: left;
    margin: 2.5px;
    background: #373737;
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

/** hover-color ***************************************************************/

.hover-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: inherit;
    opacity: 0.8;
    display: none;
    z-index: 1;
}

.hover-color:before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 ratio */
}

/** more-options **************************************************************/

.more-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: 0.3s;
}

.more-options:before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 ratio */
}

.more-options .play {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 70px;
    margin-left: calc(50% - 35px);
    margin-left: -moz-calc(50% - 35px);
    margin-left: -webkit-calc(50% - 35px);
    margin-top: calc(50% - 35px);
    margin-top: -moz-calc(50% - 35px);
    margin-top: -webkit-calc(50% - 35px);
    padding: 0;
    opacity: 0.85;
    /*background: green;*/
    display: none;
}

.more-options .play:hover {
    opacity: 1;
}

/* This classes will be added when the mouse is over a .more-options class and
 * removed when the mouse goes out.
 */
.display {
    display: block;
    transition: 0.3s;
}

.more-options .display {
    display: block;
    transition: 0.3s;
}


/** img ***********************************************************************/

.image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 65px);
    height: -moz-calc(100% - 65px);
    height: -webkit-calc(100% - 65px);
    /*background: #2e8eff;*/
}

.image:before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 ratio */
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*background-image: url("");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/** text **********************************************************************/

.text {
    position: relative;
    height: 65px;
    padding-left: 5%;
    padding-right: 5%;
    /*background: red;*/
    /*text-align: center;*/
}

.title {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}

.title:hover {
    text-decoration: underline;
}

.artists {
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.artists:hover {
    text-decoration: underline;
}

.overflow-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/******************************************************************************/
/* Now this is calculated in the .ts file because we dont use window width but
 * the div width where the content is. (Window is form by this content div plus
 * the left menu div and right play queue div).
 */

 @media only screen and (max-width: 2000px) {
     .box {
         width: calc(12.5% - 5px);
         width: -moz-calc(12.5% - 5px);
         width: -webkit-calc(12.5% - 5px);
     }
 }

 @media only screen and (max-width: 1800px) {
     .box {
         width: calc(14.28% - 5px);
         width: -moz-calc(14.28% - 5px);
         width: -webkit-calc(14.28% - 5px);
     }
 }

 @media only screen and (max-width: 1600px) {
     .box {
         width: calc(16.66% - 5px);
         width: -moz-calc(16.66% - 5px);
         width: -webkit-calc(16.66% - 5px);
     }
 }

 @media only screen and (max-width: 1400px) {
     .box {
         width: calc(20% - 5px);
         width: -moz-calc(20% - 5px);
         width: -webkit-calc(20% - 5px);
     }
 }

 @media only screen and (max-width: 1200px) {
     .box {
         width: calc(25% - 5px);
         width: -moz-calc(25% - 5px);
         width: -webkit-calc(25% - 5px);
     }
 }

 @media only screen and (max-width: 1000px) {
     .box {
         width: calc(33.33% - 5px);
         width: -moz-calc(33.33% - 5px);
         width: -webkit-calc(33.33% - 5px);
     }
 }

 @media only screen and (max-width: 765px) {
     .box {
         width: calc(50% - 5px);
         width: -moz-calc(50% - 5px);
         width: -webkit-calc(50% - 5px);
     }
 }

 @media only screen and (max-width: 250px) {
     .box {
         width: calc(100% - 5px);
         width: -moz-calc(100% - 5px);
         width: -webkit-calc(100% - 5px);
     }
 }

/*
@media only screen and (max-width: 500px) {
    .box {
        width: calc(50% - 5px);
        width: -moz-calc(50% - 5px);
        width: -webkit-calc(50% - 5px);
    }
}

@media only screen and (min-width: 500px) {
    .box {
        width: calc(33.33% - 5px);
        width: -moz-calc(33.33% - 5px);
        width: -webkit-calc(33.33% - 5px);
    }
}

@media only screen and (min-width: 765px) {
    .box {
        width: calc(25% - 5px);
        width: -moz-calc(25% - 5px);
        width: -webkit-calc(25% - 5px);
    }
}

@media only screen and (min-width: 950px) {
    .box {
        width: calc(20% - 5px);
        width: -moz-calc(20% - 5px);
        width: -webkit-calc(20% - 5px);
    }
}

@media only screen and (min-width: 1200px) {
    .box {
        width: calc(16.66% - 5px);
        width: -moz-calc(16.66% - 5px);
        width: -webkit-calc(16.66% - 5px);
    }
}

@media only screen and (min-width: 1400px) {
    .box {
        width: calc(14.28% - 5px);
        width: -moz-calc(14.28% - 5px);
        width: -webkit-calc(14.28% - 5px);
    }
}

@media only screen and (min-width: 1600px) {
    .box {
        width: calc(12.5% - 5px);
        width: -moz-calc(12.5% - 5px);
        width: -webkit-calc(12.5% - 5px);
    }
}

@media only screen and (min-width: 1800px) {
    .box {
        width: calc(11.11% - 5px);
        width: -moz-calc(11.11% - 5px);
        width: -webkit-calc(11.11% - 5px);
    }
}

@media only screen and (min-width: 2000px) {
    .box {
        width: 275px;
    }
}*/
