<div class="page-navigation">
    <div class="go-prev-button" (click)="goPreviousPage()">
        <i class="material-icons">navigate_before</i>
    </div>
    <div class="go-forw-button" (click)="goForwardPage()">
        <i class="material-icons">navigate_next</i>
    </div>
</div>

<div id="logo">
    <img src="images/bluzu/bluzu_04_r2.png" alt="bluzu logo">
</div>

<hr>

<!----------------------------------------------------------------------------->

<div id="user-account" (click)="userAccountShowMore()">
    <div id="user-account-img" [style.background-image]="'url(' + loggedUser.profileImage + ')'"></div>
    <div id="user-account-name-container">
        <div id="user-account-name">{{loggedUser.name}}</div>
    </div>
    <div id="user-account-dropdown-button"><i class="material-icons right">keyboard_arrow_down</i></div>
</div>

<div id="user-account-more" class="display-none">
    <a routerLink="/upload" routerLinkActive="active">
        <div class="sidenav-option">
            <i class="material-icons left">file_upload</i>Upload
        </div>
    </a>

    <a routerLink="" routerLinkActive="active">
        <div class="sidenav-option">
            <i class="material-icons left">timeline</i>Statistics
        </div>
    </a>

    <a routerLink="" routerLinkActive="active">
        <div class="sidenav-option">
            <i class="material-icons left">settings</i>Configuration
        </div>
    </a>

    <a routerLink="" routerLinkActive="active">
        <div class="sidenav-option">
            <i class="material-icons left">help</i>Help
        </div>
    </a>

    <!-- <a routerLink="" routerLinkActive="active"> -->
    <div class="sidenav-option" (click)="logout()">
        <i class="material-icons left">close</i>Logout
    </div>
    <!-- </a> -->
</div>

<hr><br>

<!----------------------------------------------------------------------------->

<a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">home</i>Home
    </div>
</a>

<a routerLink="/user/{{loggedUser.id}}" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">person</i>Profile
    </div>
</a>

<a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">favorite</i>Favorites
    </div>
</a>

<a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">loop</i>Reposts
    </div>
</a>

<a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">people</i>Following
    </div>
</a>

<a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">access_time</i>History
    </div>
</a>

<br><hr><br>

<!----------------------------------------------------------------------------->

<a routerLink="search" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">search</i>Search
    </div>
</a>

<!-- <a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">whatshot</i>Hot
    </div>
</a> -->

<!-- <a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">format_list_numbered</i>Top Charts
    </div>
</a> -->

<!-- <a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">tag_faces</i>Discover
    </div>
</a> -->

<!-- <a routerLink="" routerLinkActive="active">
    <div class="sidenav-option">
        <i class="material-icons left">stars</i>Competitions
    </div>
</a> -->

<br><hr><br>

<!-- PLAYLISTS ---------------------------------------------------------------->

<div class="subheader">
    YOUR PLAYLISTS
    <a class="new-playlist-button" href="#new-playlist-modal">
        <i class="material-icons right">add</i>NEW
    </a>
</div>

<br>

<sidenav-option *ngFor="let playlist of mePlaylists"
    [playlist]="playlist"
    (contextmenu)="contextMenu($event, playlist)">
</sidenav-option>

<br><hr><br>

<!----------------------------------------------------------------------------->

<div class="subheader">OTHER PLAYLISTS</div>

<br>

<div class="playlist-from-other">
    <div class="sidenav-option"><i class="material-icons left">queue_music</i>Trap Music</div>
    <div class="playlist-owner">AllTrapMusic</div>
</div>

<div class="playlist-from-other">
    <div class="sidenav-option"><i class="material-icons left">queue_music</i>Spinnin Records Top 100</div>
    <div class="playlist-owner">Spinnin' Records</div>
</div>

<div class="playlist-from-other">
    <div class="sidenav-option"><i class="material-icons left">queue_music</i>UKF Dubstep</div>
    <div class="playlist-owner">UKF</div>
</div>

<br>
