.page-navigation {
    width: 100%;
    height: 40px;
    /*background: black;*/
}

.go-prev-button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 10px;
    float: left;
    margin-top: 7.5px;
    /*background: rgba(0, 0, 0, 0.2);*/
    color: rgba(255, 255, 255, 0.1);
}

.go-forw-button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 10px;
    float: left;
    margin-top: 7.5px;
    padding-left: 1px;
    /*background: rgba(0, 0, 0, 0.2);*/
    color: rgba(255, 255, 255, 0.1);
}

/******************************************************************************/

#logo {
    width: 100%;
    height: 170px;
    /*background: rgba(0, 0, 0, 0.2);*/
}

/* Square logo */
#logo img {
    width: 150px;
    height: 150px;
    margin-left: calc(50% - 75px);
    margin-left: -moz-calc(50% - 75px);
    margin-left: -webkit-calc(50% - 75px);
    /*margin-top: 20px;*/
}

/******************************************************************************/

hr {
    border: 1px solid rgba(17, 17, 17, 0.5);
    padding: 0;
    margin: 0;
}

br {
    display: block;
    margin: 10px 0;
    line-height: 10px;
    content: " ";
}

/******************************************************************************/

#user-account {
    cursor: pointer;
    margin-top: 0;
    width: 100%;
    height: 60px;
    /*background: black;*/
}

#user-account:hover {
    color: #2e8eff;
}

#user-account-img {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 50%;
    background: #2e8eff;
    /*background-image: url("");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* This container is used to center user name and to make overflow text have
 * ellipsis style */
#user-account-name-container {
    position: absolute;
    margin-left: 65px;
    width: 150px;
    height: 60px;
    /*background: red;*/
}

#user-account-name {
    padding-top: 20px;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    white-space: nowrap;
    display: block;
}

#user-account-dropdown-button {
    position: absolute;
    width: 25px;
    float: right;
    margin-left: 215px;
    margin-right: 0;
    margin-top: 0;
    height: 60px;
    /*background: blue;*/
}

/* Icon */
#user-account-dropdown-button i {
    margin-top: 20px;
}

/* Div that shows more user options */
#user-account-more {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.display-none {
    display: none;
    /*visibility: hidden;*/
    /*height: 0;*/
    /*transition: 0.5s;*/
}

/******************************************************************************/

.subheader {
    padding: 5px 20px;
    padding-right: 10px;
    font-size: 12px;
    color: #2e8eff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    /*background: green;*/
}

.new-playlist-button {
    cursor: pointer;
    float: right;
    color: #2e8eff;
    background: transparent;
    /*background: #000;*/
}

.new-playlist-button:hover {
    color: #00d9ff;
}

.new-playlist-button i {
    font-size: 15px;
    margin-top: 1px;
    margin-left: 5px;
}


/******************************************************************************/

a {
    color: #cdcdcd;
    background: white;
}

.link {
    color: #cdcdcd;
}

.sidenav-option {
    /*position: absolute;*/
    cursor: pointer;
    padding: 7px 15px;
    font-size: 17px;
    /*font-weight: bold;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #cdcdcd;
    /*background: rgba(113, 42, 223, 0.82);*/
}

.sidenav-option i {
    font-size: 20px;
    padding: 2px;
    color: #cdcdcd;
}

.sidenav-option:hover {
    color: #2e8eff;
}

.sidenav-option-selected {
    background: #2c2c2c;
    color: #2e8eff;
}

/******************************************************************************/

/* Playlist created by other user */
.playlist-from-other {
    cursor: pointer;
    /*background: black;*/
}

.playlist-from-other:hover {
    color: #2e8eff;
}

.playlist-owner {
    color: #777;
    /*color: #2e8eff;*/
    font-size: 12px;
    margin-top: 0;
    margin-left: 55px;
    padding-bottom: 3px;
    /*background: white;*/
}

/******************************************************************************/

.modal {
    background: #212121;
}

.modal-content {
    padding: 40px;
    padding-top: 30px;
    background: #212121;
}

.modal-footer {
    background: #212121;
}

#new-playlist-modal {
    z-index: 5000000;
}
