<div class="track">
    <div class="image-container">
        <div class="image" [style.background-image]="imageUrl"></div>
        <input class="choose-image" id="{{imageHtmlId}}" type="file" (change)="readUrl($event)">
        <button class="change-image-button waves-effect btn"
        (click)="chooseImage()"
        [style.background]="backgroundColor"
        [style.color]="textColor">
            CHOOSE IMAGE
        </button>
    </div>

    <div class="info-container">

        <div class="input-field">
            <input class="track_name" type="text" required [(ngModel)]="name">
            <label for="track_name">Name</label>
        </div>

        <div class="input-field">
            <input class="track_artists" type="text" required [(ngModel)]="artistsN">
            <label for="track_artists">Artists</label>
        </div>

        <div class="input-field">
            <input class="track_genres" type="text" required [(ngModel)]="genres">
            <label for="track_genres">Genres</label>
        </div>

        <div class="file-field input-field">
            <div class="btn waves-effect">
                <span>File</span>
                <input id="{{audioHtmlId}}" type="file" accept=".mp3" (change)="uploadAudio()">
            </div>
            <div class="file-path-wrapper">
                <!-- <input class="file-path" type="text" placeholder="Choose audio file" [(ngModel)]="track.url"> -->
                <input class="file-path" type="text" placeholder="Choose audio file">
            </div>
        </div>

        <div class="input-field col s12">
            <select multiple id="playlistsToAdd">
                <option value="" disabled selected>Choose playlist</option>
                <option *ngFor="let playlist of userPlaylists" value="{{playlist.id}}">{{playlist.name}}</option>
            </select>
            <label>Add to playlist</label>
        </div>

        <p (click)="explicit(track)" class="explicit">
            <input  type="checkbox" class="filled-in checkbox-blue filled-in-box" id="{{'checkbox' + track.id}}"/>
            <label for="filled-in-box">Explicit</label>
        </p>

        <button class="btn waves-effect right save-button" (click)="saveMetaData()">SAVE</button>

    </div>

    <!-- <div id="upload-progress-container"></div> -->


</div>
