.container {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.track {
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    width: 100%;
    background: #222;
    height: 500px;
    float: left;
}

.image-container {
    float: left;
    width: 250px;
    height: 300px;
    /*transition: 0.3s;*/
}

.info-container {
    float: left;
    width: calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    height: 500px;
    padding: 20px;
    /*background: #00ff40;*/
}

.upload-progress-container {
    position: absolute;
    float: left;
    margin-top: 300px;
    height: 200px;
    width: 250px;
    background: #ff0045
}

/******************************************************************************/

.image {
    float: left;
    width: 100%;
    height: 250px;

    background: #2e8eff;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.change-image-button {
    float: left;
    width: 100%;
    height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /*box-shadow: none;*/
    background: inherit;
}

.change-image-button .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    /*box-shadow: none;*/
    background: inherit;
}

/******************************************************************************/

.title {
    font-weight: bold;
    font-size: 17px;
    /*margin-top: 10px;*/
    margin-bottom: 20px;
}

.image-container input[type="file"] {
    display: none;
}

/*.input-field input[type="file"] {
    display: block;
}*/

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2e8eff;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2e8eff;
    box-shadow: 0 1px 0 0 #2e8eff;
}

.input-field .btn {
    background: #2e8eff;
    cursor: pointer;
}

.input-field .btn:hover {
    background: #78b5ff;
    cursor: pointer;
}

/*input[type="checkbox"].filled-in:checked + label {
     color: #2e8eff;
}*/

.checkbox-blue[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #2e8eff;
     background-color: #2e8eff;
}

/******************************************************************************/

.save-button {
    background: #2e8eff;
    float: right;
    margin-top: 20px;
    /*margin-top: 100px;*/
    /*margin-bottom: 20px;*/
}

.save-button:hover {
    background: #78b5ff;
}

.delete-track-button {
    color: inherit;
    /*width: 50px;*/
    float: right;
    /*display: none;*/
    text-align: right;
    /*background: blue;*/
    cursor: pointer;
}

.explicit {
    width: 50%;
    float: left;
    /*background: grey;*/
}

/******************************************************************************/

@media only screen and (max-width: 656px) {

    .track {
        margin-top: 15px;
        /*margin-bottom: 15px;*/
        /*height: 615px;*/
        height: 1070px;
        /*transition: 0.3s;*/
    }

    .image-container {
        margin-left: calc(50% - 125px);
        margin-left: -webkit-calc(50% - 125px);
        margin-left: -moz-calc(50% - 125px);
        margin-top: 20px;
        transition: 0.3s;
    }

    .info-container {
        width: 100%;
    }

    .upload-progress-container {
        position: relative;
        float: left;
        /*margin-top: 300px;*/
        margin: auto;
        height: 250px;
        width: 100%;
        background: #ff0045
    }

    .save-button {
        /*margin-top: 350px;*/
    }

}
